/*  Style from login/signup.css

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 1px solid #ccc;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
} */

.edit-wrapper {
    display: flex;
    flex-direction: column;
}

.fileinputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    resize: none;
}

.edit-text {
    text-align: center;
    margin-top: 1rem;
}

.submit-button {
    margin-top: 2rem;
}

.edit-input {
    margin: 0 0 2rem 0;
}

.choose-file {
    margin: 1.5rem 0;
}