.edit-post-form img { 
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    margin: 0;
}

.edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post-form > * {
    margin: 1rem 0;
}

@media only screen and (min-width: 600px) {
    .edit-post-form img {
        width: 50vw;
        height: 50vw;
    }

    .choose-file:hover,
    .update-button:hover,
    .delete-button:hover {
        background-color: rgb(222,222,222);
        cursor: pointer;
    }
}

