div .no-post-message { 
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-post-message {
text-align: center;
}

.post-wrapper {
    padding: 1.6rem 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    background-color:rgb(255,255,255);
    border-bottom: 1px solid #dbdbdb;
}

.post-info,
.like-row {
    margin: 0 1.6rem;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-in-feed {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    margin: 1.6rem 0 1.6rem 0;
}

.like-row {
    position: relative;
}

.liked-by {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

.author-button {
    border: none;
    text-decoration: none;
}

.edit, .author-button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    padding: 0.4rem;
    background-color: rgb(255,255,255);
    border: 1px solid #ccc;
}

.like-button, .unlike-button {
    position: absolute;
    right:0;
    padding: 0;
    border: none;
    background: none;
}

.description {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
}

.author, .edit {
    font-size: 1.4rem;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .post-wrapper {
    width: 50vw;
    margin: 11.2rem auto;
    border: 0.5px solid #CCCCCC;
    border-radius: 0.2rem;
    background-color: rgb(250,250,250);
    }

    .img-in-feed {
        width: 50vw;
        height: 50vw;
    }

    .edit:hover, 
    .author-button:hover {
        cursor: pointer;
        background-color: rgb(222,222,222);
    }

    .feed {
        background-color: rgb(250,250,250);
    }
  }