div .no-post-message { 
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-post-message {
text-align: center;
}

.feed {
    background-color:rgb(255,255,255);
}

.post-wrapper {
    margin: 0 0 2rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.post-info,
.like-row {
    margin: 0 1rem;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-in-feed {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    margin: 0.5rem 0 0.5rem 0;
}

.like-row {
    position: relative;
}

.liked-by {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.author-button {
    border: none;
    text-decoration: none;
}

.edit, .author-button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    padding: 0.4rem;
    background-color: rgb(222,222,222);
}

.like-button, .unlike-button {
    position: absolute;
    right:0;
    padding: 0;
    border: none;
    background: none;
}

.description {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
}

.author {
    font-size: 1.4rem;
    font-weight: bold;
}

