.get-welcome-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.get-welcome-page h1 {
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    padding: 0 2.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group > * {
    margin: 0.25rem 0;
}

input {
    border: 1px solid #ccc;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    background-color: rgb(250,250,250);
}


label {
    font-size: 1.6rem;
    font-family: 'Ibarra Real Nova', serif;
}

.signup-button, .login-button{
    width: 100%;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-button:hover,
 .login-button:hover {
     background-color: rgb(222,222,222);
     cursor: pointer;
 }

 @media only screen and (min-width: 600px) {
    .form-wrapper {
        height: 60%;
        
    }
 }