/* In this file you can add your custom styles. */
html {
    font-size: 62.5%; /* 1rem is 10px */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: rgb(250, 250, 250);
    top: 0;
}

.container {
    position: relative;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    padding-bottom: 6rem;
    top: 0;
}

h1 {
    font-size: 2.6rem;
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    font-family: "Ibarra Real Nova", serif;
}

a {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.error-message {
    text-align: center;
    padding: 0.4rem;
    margin: 2.5rem;
    background-color: rgb(249, 221, 212);
    border-radius: 0.2rem;
    border: 1px solid rgb(199, 168, 158);
}

.success-message {
    text-align: center;
    padding: 0.4rem;
    background-color: rgb(196, 215, 210);
    border-radius: 0.2rem;
    border: 1px solid rgb(170, 190, 185);
}

.deleteButton {
    width: 60px;
}

.editButton {
    width: 60px;
}

.commentRow {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.commentsForm {
    margin-left: 15px;
}

.search-wrapper {
    margin: 15px;
}

.hidden {
    display: none;
}

.commentAuthor {
    font-weight: bold;
}
.commentRow {
    margin-top: 10px;
}

.searchResult {
    margin: 10px;
}

.searchResult :hover {
    border-bottom: solid black;
}

@media only screen and (min-width: 600px) {
    .container {
        width: 50vw;
        margin: 5.2rem auto;
        padding: 0;
    }
}
