/*  Style from login/signup.css

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 1px solid #ccc;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
} */

.edit-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileinputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    resize: none;
    background-color: rgb(250,250,250);
}

.edit-text {
    text-align: center;
    margin-bottom: 3rem;
}

.submit-button {
    margin-top: 2rem;
}

.edit-input {
    margin: 0 0 2rem 0;
}

.choose-file {
    margin: 1.5rem 0;
}

.submit-button:hover,
.upload-button:hover {
    cursor: pointer;
    background-color: rgb(222,222,222);
}

.followers {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}