.navbar-not-logged-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-button {
    border: 1px solid #000000;
    border-radius: 10px; 
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

