.title-in-nav{
    font-size: 1.6rem;
}

.nav-top {
    height: 3rem;
    margin: 1rem;
    z-index: 1;
}
.hamburger-icon {
    width: 3rem;
    z-index: 2;
    position: absolute;
    right: 2rem;
}

.line1, 
.line2, 
.line3 {
    width: 3.5rem;
    height: 0.4rem;
    background-color: black;
    margin: 6px 0;
}

.nav-items {
   /* display: none; */
}

.show-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}

.navbar {
    background-color:rgb(250,250,250);
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item{
    list-style: none;
}

.nav-link, .navigation-title {
    text-decoration: none;
    color: black;
    font-weight: 500;
} 
