/* hamburger menu */

.hamburger-icon {
    width: 3rem;
    z-index: 2;
    position: absolute;
    right: 1.6rem;
}

.line1,
.line2, 
.line3 {
    width: 3rem;
    height: 0.3rem;
    background-color: black;
    margin: 6px 0;
    transition: 0.3s;
} 

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);

}
.change .line2 {
    opacity: 0;
}

.change .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -4px);
}

.mobile-title {
    display: flex;
    align-items: center;
    height: 5.2rem;
    width: 100%;
    background-color:rgb(250,250,250);
    border-bottom: 1px solid #dbdbdb;
}
.navigation-title-mobile {
    font-size: 2.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-left: 1.6rem;
    margin: auto 0;
}

.mobile-navbar {
    display: none; 
}

.mobile-nav-item {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
    font-size: 1.4rem;
    margin-top: 4rem;
}

/* onclick hamburger-icon this class toggles */
.show-menu {
    height: calc(100vh - 5.2rem);
    z-index: 1;
    background-color: rgb(250,250,250);
    position: absolute;
    right: 0;
    padding: 2rem;
    width: 66vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in-menu 0.3s ease-in;
    -webkit-animation: fade-in-menu 0.3s ease-in;
}

.desktop-navbar {
    display: none;
}

@keyframes fade-in-menu {
    0% {
        transform: translateX(100%);
     }

     100% {
        transform: translateX(0%);
     }
}

@-webkit-keyframes fade-in-menu {
    0% {
        transform: translateX(100%);
     }

     100% {
        transform: translateX(0%);
     }
}


/* modal box */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: rgb(250,250,250);
    padding: 1rem;
    margin: 25rem auto;
    width: 53%;
    border-radius: 0.8rem;
    text-align: center;
}

.close-btn,
.yes-btn
 {
    border: 1px solid #000000;
    font-size: 16px;
    text-align: center;
    padding: 0.8rem;
    height: 4rem;
    border-radius: 0.8rem;
    margin: 1rem;
    background-color: rgb(255,255,255)
}


@media only screen and (min-width: 600px) {
    .navigation-title {
        display: block;
    }

    .mobile-title,
    .mobile-navbar,
    .hamburger-icon {
        display: none 
    }

    .navigation-title {
        display: block;
        font-size: 2.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    
    .nav-item{
        list-style: none;
    }
    
    .nav-link {
        text-decoration: none;
        color: black;
    }

    .desktop-navbar {
        display: block;
        overflow: hidden;
        position: fixed;
        height: 5.2rem;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid #dbdbdb;
        background-color:rgb(250,250,250);
    }

    .nav-items > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items {
        width: 50vw;
        margin: 0 auto;
    }

    .nav-icons {
        width: 33%;
        height: 5.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .modal-content {
        width: 23%;
    }

    .close-btn:hover ,
    .yes-btn:hover {
        cursor: pointer;
        background-color: rgb(222,222,222);
}
}