.profile-content {
    width: 66%;
    margin: 8rem auto;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
}
.follow-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.follow-buttons {
    margin: 0 1rem;
}

.profile-content > p {
    padding: 1rem 0;
}

.follow-buttons:hover {
    cursor: pointer;
    background-color: rgb(222,222,222);
}

@media only screen and (min-width: 600px) {
    .profile-content {
        margin: 14rem auto;
    }
}

